.example-card {
  max-width: 400px;
}

.center{
  width: 75%;
  margin: 10px auto;
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-form-field {
  margin-right: 12px;
}
