<div class="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Here are some tasks from the server: </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
          <mat-list-item *ngFor="let task of tasks$ | async">
            <mat-icon mat-list-icon>note</mat-icon>
            <h4 mat-line>{{task.Name}}</h4>
            <p mat-line> {{task.Description}} </p>
            <button mat-button color="warn" (click)="removeTask(task.ID)">Remove</button>
          </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <form #f="ngForm" (ngSubmit)="addTask(f)">
        <mat-form-field>
          <input matInput placeholder="Name" class="task-input" type="text" name="name" ngModel>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Description" class="task-input" type="text" name="description" ngModel>
        </mat-form-field>
        <button mat-raised-button color="primary">Add Task</button>
      </form>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Reactive Counter</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <span matBadge="{{ count$ | async }}" matBadgeOverlap="false">Count</span>
      </p>
      <button mat-raised-button color="primary" (click)="increment()">Increment</button>
      <button mat-raised-button color="secondary" (click)="decrement()">Decrement</button>
      <button mat-raised-button color="warn" (click)="reset()">Reset Counter</button>
    </mat-card-content>
  </mat-card>

</div>
<router-outlet></router-outlet>
